.jl
  nav.mui-bar.mui-bar-tab
    a.mui-tab-item(href="/")
      span.mui-icon
        i.iconfont &#xe601;
      span.mui-tab-label 优惠
    a.mui-tab-item(href="/hot")
      span.mui-icon
        i.iconfont &#xe626;
      span.mui-tab-label 热寻
    a.mui-tab-item(href="/miaosha")
      span.mui-icon
        i.iconfont &#xe62f;
      span.mui-tab-label 秒杀
    a.mui-tab-item(href="/activity")
      span.mui-icon
        svg.icon(aria-hidden="true")
          use(xlink:href="#icon-huodong")
      span.mui-tab-label 活动
    a.mui-tab-item(href="/collect")
      span.mui-icon
        i.iconfont &#xe654;
      span.mui-tab-label 收藏