div(style='width:98%; margin:0 auto; height:40px; position:relative; display:block; overflow-y:hidden;')
  #slider_wrap.slider_wrap
    #j_u_c_items.u_c_items
      .item_cell.current(scroll-left='0', data-child='all', data-cnn='all')
        span.red(category=0) 精选
        //- 0'精选', 1'女装', 2'男装', 3'家居', 4'数码', 5'母婴', 6'食品', 7'鞋包', 8'美妝', 9'童装', 10'运动',11'汽车',12'宠物',13'计生',
      .item_cell(scroll-left='0', data-child='all', data-cnn='news')
        span(category=1) 女装
      .item_cell(scroll-left='0', data-child='all', data-cnn='sports')
        span(category=2) 男装
      .item_cell(scroll-left='45', data-child='all', data-cnn='ent')
        span(category=3) 家居
      .item_cell(scroll-left='91', data-child='all', data-cnn='money')
        span(category=4) 数码
      .item_cell(scroll-left='777', data-child='all', data-cnn='baby')
        span(category=5) 母婴
      .item_cell.current(scroll-left='0', data-child='all', data-cnn='all')
        span(category=6) 食品
      .item_cell(scroll-left='0', data-child='all', data-cnn='news')
        span(category=7) 鞋包
      .item_cell(scroll-left='0', data-child='all', data-cnn='sports')
        span(category=8) 美妆
      .item_cell(scroll-left='45', data-child='all', data-cnn='ent')
        span(category=7) 童装
      .item_cell(scroll-left='91', data-child='all', data-cnn='money')
        span(category=10) 运动